
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}

.btn{
    position: relative;
    z-index: 1;
    overflow: hidden;
    color: #ffffff;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    padding: 12px 40px ;
    border-radius: 5px;
    display: inline-block;
    background-color: #7b68ee;
    box-shadow: 0 7px 25px rgb(123,104,238,0.25);
}
.box-btn {
    background: #2e73f5;
    color: #fff;
    padding: 12px 40px;
    border-radius: 6px;
    font-size: 15px;
    font-weight: 600;
    z-index: 555;
}
.default-btn:focus {
    color: #ffffff;
}
.section-padding{
    padding: 100px 0;
}
h2{
    color: #404040;
    font-size: 40px;
    font-weight: 800;
    margin: 10px 0 35px 0;
    text-transform: capitalize;
}
h6{
    color: #ff9800;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-bottom: 5px;
}p{
    color: #5f5f5f;
    font-size: 16px;
    transition: all 400ms ease-out;
    margin-top: 15px;
    font-weight: 400;
    line-height: 1.8;
    letter-spacing: 0.2px;    
}
.pt-100{
    padding-top: 100px;
}
.pb-50{
    padding-bottom: 50px;
}
.pt-50{
    padding-top: 50px;
}
.pb-100{
    padding-bottom: 100px;
}
.read-more{
    color: #7b68ee;
    font-size: 16px;
    font-weight: 600;
    display: flex;
    align-items: center;
    -webkit-transition: all 400ms ease-out;
    transition: all 400ms ease-out;
    margin-top: 15px;
}

/*================= header section ================*/
ul.navbar-nav.me-auto.mb-2.mb-lg-0 {
    margin: auto;
    padding-bottom: 4px;
}
.head-dropdown-menu{
    position: relative;
    transition: all .4s ease-in;
}
.head-dropdown-menu .head-dropdown-menu-item{
    position: absolute;
    list-style: none;
    padding: 0 0 0 0;
    border-radius: 4px;
    text-align: left;
    display: none;
    transition: all .4s ease-in;
    background: #fff;
    overflow: hidden;
}
.head-dropdown-menu:hover .head-dropdown-menu-item{
    display: block;
}
.head-dropdown-menu .head-dropdown-menu-item li a{
    padding: 10px 15px;
    width: 200px;
    border-bottom: 1px solid #f1f1f1;
    font-size: 16px;
    color: #444;
    font-weight: 600;
    display: block;
    transition: all .4s ease-in;
}
.head-dropdown-menu .head-dropdown-menu-item li a:last-child{
    border: none;
}
.head-dropdown-menu .head-dropdown-menu-item li a:hover{
    background: blue;
    color: #fff;
}
li.nav-item{
    margin: 0 10px;
}
li.nav-item a.nav-link {
    color: #fff;
    font-weight: 600;
    display: flex;
    align-items: center;
}
button.navbar-toggler {
    color: #fff;
    background: #fff;
}
.box-btn{
    background: #7b68ee;
    transition: all 0.4s;
}
.box-btn:hover{
    background: blue;
}

/*================= header area ================*/
.hero-area{
    position: relative;
    background: linear-gradient(to bottom, #370b6f, #00429b, #006dba, #0095ce, #2dbcdc);
    overflow: hidden;
}

.hero-content h1{
    color: #ffffff;
    font-size: 55px;
    font-weight: 700;
    margin: 0 0 20px 0;
}
.hero-content p {
    color: #ffffff;
    font-size: 16px;
    padding-bottom: 20px;
    margin: 0 0 0 0;
    line-height: 1.8;
    letter-spacing: 0.2px;
}

.hero-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    padding-top: 135px;
    z-index: 555;
}
.hero-img img{
    width: 100%;
    padding-left: 30px;
}
.hero-img{
    padding-bottom: 65px;
}
.hero-content{
    padding-bottom: 65px;
}
.creative-shape {
    position: absolute;
    bottom: -1px;
    z-index: 1;
} 
.service-btn{
    background-color: #fff;
    color: #3e57d0;
    margin-right: 20px;
    transition: all .4s;
}
.service-btn:hover{
    color: #fff;
    background-color: #3e57d0;
}
.contact-btn{
    background-color: #7b68ee;
    color: #fff;
    transition: all .4s;
}
.contact-btn:hover{
    color: #3e57d0;
    background-color: #fff;
}


/*=================== services section ===================*/
.services-area {
    overflow: hidden;
}
.section-title h6{
    color: #ff9800;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-bottom: 5px;
}
.section-title h2{
    color: #404040;
    font-size: 40px;
    font-weight: 800;
    margin: 10px 0 35px 0;
}
.services-item{
    padding: 35px 30px;
    transition: all 400ms ease-out;
    border-radius: 5px;
    margin-top: 30px;
}
.services-item:hover{
    transform: translateY(-10px);
}
.services-item span:hover {
    transform: scale3d(40px);
}
.services-item h3{
    font-size: 20px;
    color: #343a40;
    font-family: 700;
}
.services-item .services-icon{
    padding-bottom: 15px;
}
.services-item .services-icon span{
    font-size: 50px;
    color: red;
    padding-bottom: 15px;
}
.services-item p{
    color: #5f5f5f;
    font-size: 16px;
    transition: all 400ms ease-out;
    margin-top: 15px;
    font-weight: 400;
    line-height: 1.8;
    letter-spacing: 0.2px;    
} 
.read-more span{
    color: #7b68ee;
    font-size: 24px;
    display: flex;
    align-items: center;
    -webkit-transition: all 400ms ease-out;
    transition: all 400ms ease-out;
    margin-right: 5px;
}
.read-more:hover span {
    color: #7b68ee;
    transform: translateX(5px);
    -webkit-transition: all 400ms ease-out;
    transition: all 400ms ease-out;
}



/*================== About section =================*/
.about-wrapper{
    background-color: #f7f8f8;
}
.about-wrapper .skil-item,
.about-wrapper .item-no-1,
.about-wrapper .item-no-2,
.about-wrapper .item-no-3{
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 20px;
}
.about-wrapper .skil-item::before{
    position: absolute;
    content: '';
    width: 100%;
    height: 5px;
    bottom: 0;
    background: #f1f1fa;
    display: block;
}
.about-wrapper .item-no-1::after{
    position: absolute;
    content: '';
    width: 90%;
    height: 5px;
    bottom: 0;
    background: #7b68ee;
    display: block;
}
.about-wrapper .item-no-2::after{
    position: absolute;
    content: '';
    width: 75%;
    height: 5px;
    bottom: 0;
    background: #7b68ee;
    display: block;
}
.about-wrapper .item-no-3::after{
    position: absolute;
    content: '';
    width: 85%;
    height: 5px;
    bottom: 0;
    background: #7b68ee;
    display: block;
}

.about-wrapper .skil-item h5{
    position: relative;
    z-index: 4;
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 10px;
}
.about-wrapper .skil-item span{
    position: relative;
    z-index: 4;
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 10px;
}
.about-wrapper .about-btn{
    margin-top: 10px;
}
.about-image img{
    width: 100%;
    height: 464px;
    max-height: 100%;
}

/*===================== overview section ====================*/

.overview-image img{
    width: 100%;
    height: 462px;
    max-height: 100%;
}
.overview-content .future-list {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    list-style-type: none;
    margin-bottom: 0;
    margin-top: 16px;
    margin-left: -10px;
    margin-right: -10px;
}
.overview-content .future-list li {
    flex: 0 0 50%;
    max-width: 50%;
    margin-top: 18px;
    padding-left: 10px;
    padding-right: 10px;
}
.overview-content .future-list li span {
    position: relative;
    z-index: 1;
    color: #404040;
    font-size: 16px;
    font-weight: 600;
    display: block;
    padding: 13px 15px;
    border-radius: 5px;
    border-left: 2px solid #7b68ee;
    background-color: #ffffff;
    box-shadow: -1px 3px 20px 0px rgb(82, 90, 101, 0.1);
    transition: 0.4s;
}
.overview-content .future-list li span:hover {
    color: #ffffff;
    background: #7b68ee;
}

/*================== counter section ================*/


.counter-wrapper{
    position: relative;
    z-index: 1;
    color: #fff;
    text-align: center;
    background-image: url(/images/background-imagessss.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 100px 0;
    background-attachment: fixed;
}
.counter-wrapper::before{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .5;
    z-index: 1;
}
.counter p,
.counter h1{
    position: relative;
    z-index: 3;
    color: #fff;
    font-weight: 700;
    font-size: 45px;
}
.counter p{
    font-size: 20px;
}
.counter p{
    top: 10%;
}
.counter h1{
    top: 0;
}


/*============= testimonial section =============*/
.swiper-slide{
    background: #fafafa;
    padding: 35px 15px;
    border-radius: 5px;
    height: 433px;
    overflow: hidden;
    text-align: center;
}
.swiper-slide .star-box i {
    color: #ffce39;
    font-size: 25px;
}
.swiper-slide p{
    color: #333;
    font-size: 16px;
    font-style: italic;
    line-height: 1.8;
    margin-bottom: 25px;
}
.swiper-slide .image{
    width: 80px;
    height: 80px;
    overflow: hidden;
    margin: auto;
    border-radius: 46px;
    margin-bottom: 15px;
}
.swiper-slide .image img{
    width: 100%;

}
.swiper-slide h3{
    color: #333;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 5px;
}
.swiper-slide span{
    color: #5764ec;
    font-size: 16px;
    font-weight: 500;
    display: block;
}


/*============== team section ==============*/

.single-team-box{
    width: 100%;
    overflow: hidden;
    border-radius: 7px;
    background: rgb(233, 230, 230);
    margin-top: 16px;
}
.single-team-box:hover img{
    transform: scale(1.2);
}
.single-team-box:hover i{
    opacity: 1;
    transform: scale(1.5);
}
.single-team-box:hover .team-social-icon::before{
    opacity: .5;
}
.single-image{
    position: relative;
    overflow: hidden;
}
.single-image img{
    width: 100%;
    height: 100%;
    transition: all .4s ease-in-out;
    object-fit: cover;
}
.team-social-icon{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 0;
    transition: all .4s ease-in-out;
    /* backdrop-filter: blur(2px); */
}
.team-social-icon::before{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    display: block;
    transition: all .4 ease-in-out;
    opacity: 0;
}
.team-social-icon i{
    font-size: 13px;
    color: #fff;
    margin: 15px;
    transition: all .4s ease-in-out;
    opacity: 0;
}
.team-info h3{
    font-size: 20px;
    font-weight: 700;
    color: #343a40;
    margin-bottom: 5px;
}
.team-info{
    padding: 20px 0 15px 0;
}
.team-info span{
    font-size: 16px;
    font-weight: 500;
    color: #5764ec;
    margin-bottom: 5px;
}


/*================ blog section =================*/
.blog-wrapper{
    background: #f7f8f8;
}
.blog-item{
    background: #fff;
    border-radius: 6px;
    margin-top: 16px;
}
.blog-image img {
    max-width: 100%;
    border-radius: 6px;
    object-fit: cover;
}
.blog-details {
    padding: 20px 25px;
}
.blog-info{
    display: flex;
    align-items: center;
}
.blog-info i{
    color: #7b68ee;
    font-size: 15px;
    font-weight: 600;
    display: inline-block;
    list-style-type: none;
    margin-right: 3px;
    
}
.blog-info a{
    color: #555;
    margin-right: 15px;
}

.blog-text h3{
    color: #404040;
    font-size: 20px;
    line-height: 32px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    margin: 10px 0px 10px 0px;
}
.blog-text h3 a{
    color: #404040;
}
.blog-text h3 a:hover{
    color: #7b68ee;
}
.blog-text p{
    margin: 0;
}


/*================= hir section =================*/
.hire-wrapper{
    position: relative;
    padding: 70px 0;
    background-image: url(/images/background-imagessss.png);
    font-family: 'Dosis', sans-serif;
}
.hire-wrapper::before{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #03030c;
    z-index: 1;
    opacity: .6;

}
.hire-content{
    position: relative;
    z-index: 555;
}
.hire-content h2{
    color: #fff;
    font-size: 38px;
    margin: 0;
}
.hire-content p{
    color: #fff;
    width: 900px;
    max-width: 100%;
    margin: auto;
    padding: 20px 0;
}

.hire-wrapper .contact-btn{
    background-color: #7b68ee;
    color: #fff;
    margin-right: 20px;
    transition: all .4s;
}
.hire-wrapper .contact-btn:hover{
    color: #fff;
    background: #3e57d0;
}


.hire-wrapper .service-btn{
    background-color: #fff;
    color: #7b68ee;
    margin-right: 20px;
    transition: all .4s;
}
.hire-wrapper .service-btn:hover{
    color: #fff;
    background-color: #3e57d0;
}


/*============== partner section ==============*/
.partner-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.partner-list .partner-item{
    -ms-flex: 0 0 20%;
    -webkit-box-flex: 0;
    flex: 0 0 20%;
    max-width: 20%;
    padding-left: 10px;
    padding-right: 10px;
}
.partner-list .partner-item a{
    position: relative;
    display: block;
    padding: 5px 20px;
    text-align: center;
    border-radius: 10px;
    border: 2px solid #ededed;
    margin-bottom: 30px;
}
.partner-list .partner-item a img{
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}


/*========== footer subscribe section ==========*/

.footer-subscribe-wrapper{
    background: #1b1b26;
}

.subscribe-content h2 {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}
.subscribe-content p{
    color: #fff;
    display: block;
    font-size: 16px;
}
.subscribe-wrapper{
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px;
    line-height: 1.5;
    border-bottom: 1px solid #777;
}
.form-box {
    position: relative;
    width: 100%;
    border-radius: 6px;
}
.form-box button{
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    background: #7b68ee;
    font-size: 16px;
    font-weight: 600;
    padding: 0 30px;
    height: 55px;
    border: none;
    outline: none;
    border-radius: 0 5px 5px 0;
    transition: all .4s ease-in;
}
.form-box button:hover{
    background: #ff9800;
}
.form-box input{
    color: #404040;
    position: absolute;
    width: 100%;
    height: 55px;
    padding: 0 0 0 25px;
    outline: none;
    border: 1px solid #fff;
    border-radius: 5px;
}



/*========== footer ==========*/

.footer-logo img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 25px;
}
.single-footer-widget p{
    color: #fff;
    padding-bottom: 15px;
}
.footer-social-icon{
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}
.footer-social-icon li a{
    width: 50px;
    height: 50px;
    background: #fff;
    color: #7b68ee;
    margin-right: 10px;
    line-height: 50px;
    text-align: center;
    display: inline-block;
    border-radius: 5px;
    font-weight: 600;
    transition: all .4s ease-in;
}
.footer-social-icon li a i{
    font-size: 17px;
}
.footer-social-icon li a:hover{
    background: #7b68ee;
    color: #fff;
}
.footer-single-widget h3{
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    margin: 0;
    padding-bottom: 25px;
    border-bottom: 1px solid #777;
    margin-bottom: 25px;
}
.footer-nav{
    padding: 0;
}
.footer-nav li{
    margin-bottom: 18px;
    list-style: none;
}
.footer-nav li a{
    display: inline-block;
    color: #ececec;
    font-size: 15px;
    font-weight: 400;
    transition: all .4s ease;
}
.footer-nav li a:hover{
    color: #7b68ee;
    text-decoration: underline;
}
.footer-contact-info .footer-contact-item {
    margin-bottom: 16px;
    display: flex;
}
.footer-contact-info .footer-contact-item p{
    padding: 0;
    margin: 0 0 10px 0;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
}
.footer-contact-info .footer-contact-item i{
    margin-right: 15px;
    color: #fff;
    padding-top: 6px;
}
.footer-contact-item .footer-contact-content span{
    color: #fff;
}
.footer-contact-item .footer-contact-content a{
    color: #fff;
    transition: all .4s ease;
}
.footer-contact-item .footer-contact-content a:hover{
    color: #7b68ee;
}